 Hi, <%= @username %>：<br/>
     <a href="<%= @url %>">重新设置密码</a><br/>
      这是一封来自马赛克的电子邮件，有关您在马赛克微博上于&nbsp;&nbsp;<%= Time.now %>&nbsp;&nbsp;申请修改密码,该连接将在48小时之内有效.<br/>
      如果上面的连接无法点击，请将下面的地址复制到浏览器地址栏中去<br/>
     <%= @url %>
