<style>
  td
{
  padding:5px;
  font-size:14px;
  color:#777777;
}
</style>
<%= javascript_include_tag 'find_password_page',"data-turbolinks-track" => true %>
<div style="padding:50px;border:outset 4px; width:600px;margin:30px;">
  <%= image_tag 'lock.png',:alt => '重置密码',:style=> "float:left;" %>
  <table  style="text-align:right;padding:4px;">
    <tr>
      <td>新密码：</td>
      <td><input type="password" name="password" id="password" style="width:250;height:36px;" /></td>
    </tr>
    <tr>
      <td>确认：</td>
      <td><input type="password" name="rpassword" id="rpassword" style="width:250;height:36px;"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <font id="info" color="red"></font>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="重置密码" class="btn btn-info" id="<%= id %>"/>
        <input type="hidden" value="<%= params[:email] %>" id="email"/>
      </td>
    </tr>
  </table>
</div>