<style>
.fm
{
  padding:30px;
  width:50%;
  margin:auto;
  margin-top:40px;
}
#email
{
  width:250px;
  height:36px
}
#code
{
  width:150px;
  height:36px;
}
.add-on
{
  background:#777777;
  width:26px;
  height:26px;
  padding:10px;
}
#send
{
  margin-left:200px;
}
</style>
<%= javascript_include_tag "forget_password", "data-turbolinks-track" => true %>

<div style="width:100%">
  <h3>使用邮箱找回密码</h3>
  <hr/>
  <div class="fm">
    <%= image_tag "email_b.png",:style=>"float:left;margin:10px;",:size => '130x130' %>
    <div>
      <%= image_tag "email.png",:size => '34x34',:alt => 'Email' %>
      <input type="text" name="email" id="email" placeholder= '请输入邮箱地址'/><br/>
      <%= image_tag "code.png",:size => '27x27',:alt => '验证码',:style=> "margin-right:10px" %><input type="text" name="code" id="code" placeholder="请输入验证码" /><br/>
      <input type="button" id="send" value="提 交" class="btn btn-info">
    </div>
  </div>
</div>

