<h4>#说说身边的事情吧</h4>
<%= stylesheet_link_tag "weibo_box",media:"all","data-turbolinks-track" =>true %>
<%= javascript_include_tag "weibos" %>
<%= render 'form' %>
<hr/>
<div  class="alert alert-block" id="weibo_notice">
  <span></span>
</div>
<div id="msgbox">
     <%= render @weibos %>
</div>
<br />
<div>
  @Copyright2013 马赛克互联网公司 
</div>