.msg_body
{
  width:75%;
}
.msg_user
{
  float:right;
  width:20%;
  text-align:right;
  padding-right:0px;
}

.hero-unit {
    background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    color: inherit;
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 3px;
    padding: 3px 10px 3px 10px;
}
